---
export interface Props {
  bio: {
    title: string;
    subtitle: string;
    description: string;
    image: string;
    date: string;
  };
  index: number;
  isLast: boolean;
}

const { bio, index, isLast } = Astro.props;
const isOdd = index % 2 === 1;
---

<li class={`${isOdd && "timeline-inverted"}`}>
  <div
    class="timeline-image bg-primary border-primary-hover flex items-center justify-center rounded-full border-4! text-white md:border-6! lg:border-7!"
    data-aos="flip-left"
  >
    {
      !isLast ? (
        <img
          class="aspect-square h-full w-full rounded-full object-cover"
          src={bio.image}
          alt={bio.title}
        />
      ) : (
        <h3 class="font-heading text-xs font-bold whitespace-pre-line md:text-sm xl:text-lg">
          {bio.title}
        </h3>
      )
    }
  </div>
  {
    !isLast && (
      <div class="timeline-panel" data-aos="fade-up">
        <div class="timeline-heading">
          <h3 class="font-heading mb-1 text-2xl font-bold">{bio.title}</h3>
          <h4 class="font-heading mb-2.5 text-xl font-normal">
            {bio.subtitle}
          </h4>
        </div>
        <div class="timeline-body">
          <p class="leading-relaxed whitespace-pre-line opacity-80">
            {bio.description}
          </p>
        </div>
      </div>
    )
  }
</li>
