---
import { Modal, ModalBody } from "free-astro-components";
import Button from "@/components/ui/Button.astro";
import { slugify } from "@/utils/format";
import { Icon } from "astro-icon/components";
import StreamingIcons from "../ui/StreamingIcons.astro";
import SocialIcons from "../ui/SocialIcons.astro";

const { musician } = Astro.props;

const { name, instrument, image, description, social } = musician;
const slug = slugify(musician.name);
---

<Modal id={`modal-${slug}`} size="full" class="custom-modal">
  <ModalBody>
    <div class="mx-auto max-w-4xl py-12">
      <header
        class="heading mb-10 flex flex-col items-center gap-2 md:items-start"
      >
        <h1 class="font-heading text-5xl font-extrabold uppercase">
          {name}
        </h1>
        <h2 class="font-serif text-xl italic">{instrument}</h2>
      </header>
      <article
        class="mt-6 flex flex-wrap justify-center gap-12 md:flex-nowrap md:justify-start"
      >
        <div class="flex w-100 flex-col gap-6 md:w-1/3">
          <a
            href={`/images/musicians/${image}`}
            data-fancybox
            data-caption={`${name} - ${instrument}`}
            class="group relative block cursor-pointer overflow-hidden border! border-black/10!"
          >
            <img
              src={`/images/musicians/thumbs/${image}`}
              alt={`{name} - ${instrument}`}
              class="w-full object-cover"
            />
            <div
              class="bg-primary/90 pointer-events-none absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100"
            >
              <span class="text-4xl text-white">
                <Icon name="fa7-solid:magnifying-glass-plus" size={64} />
              </span>
            </div>
          </a>

          <SocialIcons
            social={social}
            class="items-center justify-center gap-2"
          />
        </div>
        <div class="flex w-100 flex-col gap-7 text-left font-serif md:w-2/3">
          <div set:html={description} class="prose prose-slate" />
          <Button type="button" data-modal-close class="self-start"
            ><Icon name="fa7-solid:xmark" size={16} class="mr-1" />Close</Button
          >
        </div>
      </article>
    </div>
  </ModalBody>
</Modal>
