---
interface Props {
  id: string;
  title: string;
  subtitle: string;
  config?: Record<string, any>;
}

const { id, title, subtitle, config = {} } = Astro.props;

// Determine final background color or class
const finalBgColor =
  config?.bgColor !== undefined
    ? config.bgColor
    : config?.darkmode
      ? "bg-dark"
      : "bg-slate-300";

// Check if it's a hex color
const isHexColor = finalBgColor.startsWith("#");

// bgStyle for inline style if hex
const bgStyle = isHexColor ? { backgroundColor: finalBgColor } : {};

// bgClass for Tailwind class if not hex and no bgImage
const bgClass = !isHexColor && !config?.bgImage ? finalBgColor : "";

// Height class
const heightClass = config?.fullHeight ? "min-h-screen" : "min-h-[50vh]";

const titleColor = config?.darkmode ? "text-white" : "text-slate-800";
const subtitleColor = config?.darkmode ? "text-gray-100" : "text-gray-700";
const textColor = config?.darkmode ? "text-white" : "text-gray-800";

const overlayOpacity = config?.overlayOpacity ? config?.overlayOpacity : 0.7;

// AOS attributes - only add if enabled
const aosAttributes =
  config?.enableAnimation === false
    ? {} // no aos attributes
    : { "data-aos": "fade-in" }; // default if enabled or false is passed
const titleAosAttributes = { "data-aos": "fade-down" };
const subtitleAosAttributes = { "data-aos": "fade-up" };

const sectionStyle = {
  ...(isHexColor ? { backgroundColor: finalBgColor } : {}),
  ...(config?.bgImage
    ? {
        backgroundImage: `url(${config.bgImage})`,
        backgroundAttachment: "fixed",
      }
    : {}),
};

const sectionClass = config?.bgImage ? "bg-cover bg-center" : "";
---

<section id={id} style={sectionStyle} class={`${sectionClass}`}>
  <div
    class={`relative flex w-full items-center justify-center py-20 ${heightClass} ${bgClass}`}
    {...aosAttributes}
  >
    <!-- Overlay -->
    {
      config?.bgImage && (
        <div
          class={
            !isHexColor
              ? `${finalBgColor} absolute inset-0 z-9`
              : "absolute inset-0 z-9"
          }
          style={
            isHexColor
              ? { backgroundColor: finalBgColor, opacity: overlayOpacity }
              : { opacity: overlayOpacity }
          }
        />
      )
    }

    <!-- Content -->
    <div class={`relative z-10 p-8 container ${textColor}`}>
      <div class="mb-16">
        <h1
          class={`mb-4 text-4xl uppercase text-center font-heading font-bold ${titleColor}`}
          {...titleAosAttributes}
        >
          {title}
        </h1>
        {
          subtitle && (
            <h2
              class={`text-center text-xl italic ${subtitleColor}`}
              {...subtitleAosAttributes}
            >
              {subtitle}
            </h2>
          )
        }
      </div>
      <slot />
    </div>
  </div>
</section>
