---
import BioItem from "@/components/shared/BioItem.astro";
import Section from "@/components/shared/Section.astro";
import sectionData from "@/data/bio.json";

const darkmode = false;

const {
  id,
  title,
  subtitle,
  description = "",
  config = {},
  bios,
} = sectionData;
const lineColor = darkmode ? "before:bg-white" : "before:bg-primary";
---

<Section {id} {title} {subtitle} {config}>
  <div class="mx-auto max-w-7xl">
    <ul class={`timeline ${lineColor}`}>
      {
        bios.map((bio, index) => (
          <BioItem
            bio={bio}
            index={index}
            isLast={index === bios.length - 1}
            darkmode={darkmode}
          />
        ))
      }
    </ul>
  </div>
  {
    description !== "" && (
      <div
        class="mx-auto max-w-3xl pt-16 text-xl font-light"
        data-aos="fade-down"
      >
        {description}
      </div>
    )
  }
</Section>
