---
import BioItem from "@components/shared/BioItem.astro";
import Section from "@/components/shared/Section.astro";
import bioData from "@data/bio.json";

export interface Props {
  data: {
    id: string;
    title: string;
    subtitle: string;
    bios: Array<{
      title: string;
      subtitle: string;
      description: string;
      image: string;
      date: string;
    }>;
  };
}

const { id, title, subtitle, bios } = bioData;
---

<Section title={title} subtitle={subtitle} id={id}>
  <div class="mx-auto max-w-7xl">
    <ul class="timeline">
      {
        bios.map((bio, index) => (
          <BioItem bio={bio} index={index} isLast={index === bios.length - 1} />
        ))
      }
    </ul>
  </div>
</Section>
