---
import bandData from "@/data/band.json";
import contactData from "@/data/contact.json";

import { getFileExtension, getIconId } from "@/utils/format";

import SocialIcons from "@/components/ui/SocialIcons.astro";
import Section from "@/components/shared/Section.astro";
import Button from "@/components/ui/Button.astro";
import { Icon } from "astro-icon/components";

const { social, press } = bandData;
const { id, title, subtitle, bgImage, overlayOpacity, overlayColor, darkmode } =
  contactData;
---

<Section
  title={title}
  subtitle={subtitle}
  id={id}
  bgImage={bgImage}
  overlayOpacity={Number(overlayOpacity)}
  overlayColor={overlayColor}
  darkmode={darkmode}
>
  <div class="flex flex-wrap justify-center gap-4 pb-16" data-aos="fade-down">
    {
      press.length > 0 &&
        press.map((file: any) => {
          const extension = getFileExtension(file.url);
          const icon = getIconId(extension);

          return (
            <Button size="big" href={file.url} variant={file.variant}>
              <Icon name={`fa7-solid:${icon}`} class="mr-2" size={32} />
              {file.name}
            </Button>
          );
        })
    }
  </div>
  <SocialIcons social={social} variant="dark" size="big" />
</Section>
