---
import { Icon } from "astro-icon/components";
import galleryData from "@/data/gallery.json";
import { shuffleItems } from "@/utils/filter";

const { id, images } = galleryData;
const shuffleGallery = shuffleItems(images);
---

<section class="flex flex-col items-center justify-center gap-6" id={id}>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
    {
      shuffleGallery.map((img, index: number) => (
        <a
          href={`/images/gallery/${img.file}`}
          data-fancybox="imageGallery"
          data-caption={`${img.title}`}
          data-aos="fade-up"
          data-aos-delay={index * 50}
          class="group relative block overflow-hidden"
        >
          <img
            src={`/images/gallery/thumbs/${img.file}`}
            alt={img.title}
            class="aspect-square w-full object-cover"
          />
          <div class="bg-primary/90 pointer-events-none absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            <span class="text-4xl text-white">
              <Icon name="fa7-solid:plus" size={64} />
            </span>
          </div>
        </a>
      ))
    }
  </div>
</section>
